# .gitignore for papers/sign_pooling_2026
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.spl
paper/*.abs
paper/*.toc
paper/*.synctex.gz
paper/*.png
paper/cas-sc.cls
paper/cas-common.sty
paper/cas-model2-names.bst
paper/thumbnails/
**/__pycache__/
*.pyc
